body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a, p {
	text-decoration: none;
  color: black;
}
.header{
  background-color:#00a7a7;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profileBtn{
  color: #ffffff;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.link{
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  color: #003636;
}
.disabled{
  pointer-events: none;
  opacity: .6;
}
.main {
	margin-top: 1.3rem;
	margin-left: 0px;
	margin-right: 0px;
}

.product_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 1rem;
  
	column-gap: 10px;
  row-gap: 20px;
}

.product_item {
	width: 215px;
  height: 300px;
	background-color: #ecf1f1;
  padding: 18px;
	border-radius: 10px;
}
.product_item_image {
	border-radius: 10px;
}
.product_item_first_line {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product_item_name {
	font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: fit-content;
}
.product_item_category {
	font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: fit-content;
}
.product_item_price {
  margin-top: 10px;
  margin-bottom: 10px;
	text-align: end;
  font-size: 25px;
}
.detailsWrapper {
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.details {
	width: 87%;
  margin: auto;
  margin-top: 0;
	background-color: #ecf1f1;
  padding: 50px;
	border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details_image {
	border-radius: 20px;
}
.details_info {
	text-align: end;
}
.details_info_name {
	font-size: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: fit-content;
}
.details_info_category {
	font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: fit-content;
}
.details_info_price {
  margin-top: 10px;
  margin-bottom: 10px;
	text-align: end;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product_counter{
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.product_counter input{
  width: 85px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  font-size: 20px;
}
.product_counter>button{
  width: 170px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color:#00a7a7;
  text-align:center;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
}
.product_counter>button:hover{
  color:#003636;
}
.details_description {
  width: 35%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
}
.loginWrapper {
  background-color: #44aeae;
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.loginWrapper>.link{
  color: #ffffff;
}
.loginForm {
  background-color: #ffffff;
  border-radius: 20px;
  margin:auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.loginForm input{
  height: 30px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ecf1f1;
  font-size: 15px;
}
.loginBtn{
  height: 50px;
  width: 370px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color:#00a7a7;
  text-align:center;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}
.loginBtn:hover{
  color:#003636;
}
.loginText{
  font-size: 30px;
  color: #ffffff;
}
.loginText {
  background: none;
  border: none;
  padding: 10px;
  font-size: 17px;
  cursor: pointer; 
  color:#00a7a7;
}

.loginText:hover {
  text-decoration: none;
  color:#003636;;
}
