body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a, p {
	text-decoration: none;
  color: black;
}
img{
border-radius: 10px;
box-shadow: 0 0 20px #b1b1b1;
}
.header{
  background-color:#00a7a7;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header p{
  color:#ffffff;
  font-size: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}
.profileBtn{
  color: #ffffff;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.profileBtn:hover{
  color:#003636;
}
.link{
  margin: 10px;
  margin-left: 50px;
  margin-right: 25px;
  color: #003636;
  font-size: 17px;
}
.disabled{
  pointer-events: none;
  opacity: .6;
}
.main {
	margin-top: 1.3rem;
	margin-left: 0px;
	margin-right: 0px;
}

.product_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 1rem;
  
	column-gap: 10px;
  row-gap: 20px;
}
.dropdown_wrapper{
  display: flex;
  flex-direction: row;
  margin-top:20px;
}
.dropdown_wrapper_button{
  height: 40px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: none;
  background-color:#00a7a7;
  text-align:center;
  font-size: 17px;
  color: #ffffff;
  cursor: pointer;
}
.dropdown_wrapper_button:hover:enabled{
  color:#003636;
}
.bigBtn{
  width: 500px;
  margin: auto;
}
.saveBtn{
  width: 350px;
  height: 50px;
  margin: auto;
}
.dropdown{
  border-radius: 20px;
  width: 200px;
}
.product_item {
	width: 215px;
  height: 300px;
	background-color: #ecf1f1;
  padding: 18px;
	border-radius: 10px;
}
.product_item_image {
	border-radius: 10px;
}
.product_item_first_line {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product_item_name {
	font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: fit-content;
}
.product_item_category {
	font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: fit-content;
}
.product_item_price {
  margin-top: 10px;
  margin-bottom: 10px;
	text-align: end;
  font-size: 25px;
}
.detailsWrapper {
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.details {
	width: 87%;
  margin: auto;
  margin-top: 0;
	background-color: #ecf1f1;
  padding: 50px;
	border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details_image {
	border-radius: 20px;
}
.details_info {
	text-align: end;
}
.details_info_change {
	text-align: center;
}
.details_info_change>input{
  height: 30px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  font-size: 15px;
}
.details_info_change>button{
  height: 50px;
  width: 370px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color:#00a7a7;
  font-size: 25px;
  color:#ffffff;
}
.details_info_change>button:hover{
  color:#003636;
}


.details_info_name {
	font-size: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: fit-content;
}
.details_info_category {
	font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: fit-content;
}
.details_info_price {
  margin-top: 10px;
  margin-bottom: 10px;
	text-align: end;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product_counter{
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.product_counter input{
  width: 85px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  font-size: 20px;
}
.product_counter>button{
  width: 170px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color:#00a7a7;
  text-align:center;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
}
.product_counter>button:hover:enabled{
  color:#003636;
}
.details_description {
  width: 35%;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  padding: 20px;
  font-size: 20px;
}
.loginWrapper {
  background-color: #44aeae;
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.loginWrapper>.link{
  color: #ffffff;
}
.loginForm {
  background-color: #ffffff;
  border-radius: 20px;
  margin:auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.loginForm input{
  height: 30px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ecf1f1;
  font-size: 15px;
}
.loginBtn{
  height: 50px;
  width: 370px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color:#00a7a7;
  text-align:center;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}
.loginBtn:hover{
  color:#003636;
}
.toRegistration{
  font-size: 30px;
  color: #ffffff;
}
.toRegistration {
  background: none;
  border: none;
  padding: 10px;
  font-size: 17px;
  cursor: pointer; 
  color:#00a7a7;
}
.toRegistration:hover {
  text-decoration: none;
  color:#003636;;
}

.registrationWrapper {
  background-color: #44aeae;
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.registrationWrapper>.link{
  color: #ffffff;
}
.registrationForm {
  background-color: #ffffff;
  border-radius: 20px;
  margin:auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.registrationForm input{
  height: 30px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ecf1f1;
  font-size: 15px;
}
.registrationBtn{
  height: 50px;
  width: 370px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color:#00a7a7;
  text-align:center;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}
.registrationBtn:hover{
  color:#003636;
}
.toLogin{
  font-size: 30px;
  color: #ffffff;
}
.toLogin {
  background: none;
  border: none;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  color:#00a7a7;
}
.toLogin:hover {
  text-decoration: none;
  color:#003636;;
}

.order_list{
  display:flex;
  flex-direction: column;
  padding-left:20px;
  padding-right: 20px;
}
.order{
  background-color:#ecf1f1;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.order_head{
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}
.order_item{
  background-color:#ffffff;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order_item p{
  margin-top: auto;
  margin-bottom: auto;
}
.order_item_icon{
  background-color: #00a7a7;
  color:#ffffff;
  border-radius: 15px;
  padding: 5px;
}
.order_item_icon:hover{
  color:#003636;
}
.order_btn{
  height: 40px;
  width: 170px;
  border-radius: 10px;
  border: none;
  background-color:#00a7a7;
  text-align:center;
  font-size: 17px;
  color: #ffffff;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}
.order_btn:hover{
  color:#003636;
}
.quantity_input{
  width: 85px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color:#ecf1f1;
  font-size: 20px;
}
.quantity_input_wrapper{
  margin-top: auto;
  margin-bottom: auto;
}
.order_product_name{
  font-size: 25px;
}
.category_item{
  background-color:#ecf1f1;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category_item input{
  height: 20px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  font-size: 15px;
}
